{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> <a href="{{ path('accounting_bank') }}">  {{ 'Account of Bank'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Account of Bank'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('accounting_bank_new') }}" class="btn btn-sm  green-bg white-font"><i class="fa fa-plus"></i>{{ 'New Bank'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <table class="table table-striped table-bordered table-hover dataTable" id="entityDatatable">
                        <thead class="thead-dark">
                        <tr>
                            <th>Bank</th>
                            <th>Branch</th>
                            <th>Account Owner</th>
                            <th>Account No</th>
                            <th>Account type</th>
                            <th>Service Charge<span class="required">(%)</span></th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in entities %}
                            <tr id="remove-{{ entity.id }}">
                                <td>{% if entity.bank %}{{ entity.bank.name }}{% endif %}</td>
                                <td>{{ entity.Branch }}</td>
                                <td>{{ entity.accountOwner }}</td>
                                <td>{{ entity.accountNo }}</td>
                                <td>{{ entity.accountType }}</td>
                                <td>{{ entity.serviceCharge }}</td>
                                <td>
                                    <div class="btn-group card-option open"><button type="button" class="btn btn-notify" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></button>
                                        <ul class="list-unstyled card-option dropdown-info dropdown-menu dropdown-menu-right" x-placement="top-end" style="position: absolute; transform: translate3d(-116px, -91px, 0px); top: 0px; left: 0px; will-change: transform;">
                                            <li class="dropdown-item"> <a href="{{ path('accounting_bank_edit',{'id':entity.id}) }}">Edit</a></li>
                                            <li class="dropdown-item"> <a data-action="{{ path('accounting_bank_delete',{'id':entity.id}) }}" class="remove" data-id="{{ entity.id }}" href="javascript:">Remove</a></li>
                                        </ul>
                                    </div>

                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}
