{% extends 'admin/layout.html.twig' %}
 {% block body_id 'accounting_bank_new' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> <a href="{{ path('accounting_bank') }}">  {{ 'Account of Bank'|trans }}</a></li>
                        <li class="breadcrumb-item"> <a href="javascript:">{{ 'Add New'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage Bank Account'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group">
                            <a href="{{ path('accounting_bank') }}" class="btn btn-sm  green-bg white-font"><i class="fa fa-list"></i>{{ 'Account of Bank'|trans }}</a>
                            <a href="{{ path('accounting_bank_new') }}" class="btn btn-sm  blue-bg white-font"><i class="fa fa-plus"></i>{{ 'New Bank'|trans }}</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="portlet box green ">
                    <div class="portlet-title">
                        <div class="caption"><i class="fa fa-th-large"></i> {{ 'Create Account of Bank'|trans }}</div>
                    </div>
                    <div class="portlet-body form">
                        {{ form_start(form, {'attr': {'class': 'form-horizontal right'}}) }}
                        <div class="row form-body">
                            <div class="form-inner-no-space">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_label(form.accountOwner, 'label.account.owner', {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                {{ form_widget(form.accountOwner) }}
                                                {{ form_errors(form.accountOwner) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.accountNo, 'label.accountNo', {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                {{ form_widget(form.accountNo) }}
                                                {{ form_errors(form.accountNo) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.bank, 'label.bank', {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                {{ form_widget(form.bank) }}
                                                {{ form_errors(form.bank) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.branch, 'label.branch', {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                {{ form_widget(form.branch) }}
                                                {{ form_errors(form.branch) }}
                                            </div>
                                        </div>


                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_label(form.serviceCharge, 'label.serviceCharge', {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-4">
                                                {{ form_widget(form.serviceCharge) }}
                                                {{ form_errors(form.serviceCharge) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.accountType, 'label.accountType', {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-4">
                                                <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                {{ form_widget(form.accountType) }}
                                                {{ form_errors(form.accountType) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.address, 'label.address', {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.address) }}
                                                {{ form_errors(form.address) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4"></label>
                                            <div class="col-md-8">
                                                {{ form_widget(form.status) }}
                                            </div>
                                        </div>


                                    </div>
                                </div>
                                <div class="form-actions right">
                                    <div class="col-md-12">

                                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                            <button type="reset"  class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>{{ 'label.reset'|trans }}</button>
                                            {{ form_widget(form.SaveAndCreate, {label: 'SaveAndCreate', attr: { class: 'btn btn-info form-submit'}}) }}
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>

                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
 {% endblock  %}